html {
    width: 100%;
    height: 100%;
  }
  
  * {
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration-line: none;
    color: inherit;
  }
  
  li {
    list-style: none;
  }
  
  span {
    display: inline-block;
  }
  
  input {
    background-image: url("#");
    background-repeat: no-repeat;
    background-size: 13px;
  }
  
  
  .web-header-wrap {
    width: 100%;
    height: 76px;
    border-bottom: 1px solid #ebeff8;
    background-color: #fff;
    position: sticky;
    top: 0px;
    z-index: 1000;
  }
  
  .web-header {
    width: 1000px;
    height: 76px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .header-logo {
    padding: 14px;
    margin: 10px 0 0 -14px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .header-menu {
    float: right;
  }
  
  .menu-item {
    font-size: 16px;
    font-weight: bold;
    margin-left: 1rem;
    padding: 1.5rem 0;
  }
  
  .menu-item:first-child {
    border-bottom: 5px solid #3f9dff;
    padding-bottom: 26px;
  }
  
  .menu-item:hover {
    border-bottom: 5px solid gray;
    padding-bottom: 26px;
  }
  
  .game-header {
    width: 960px;
    margin: 0 auto;
    padding-top: 30px;
  }
  
  .game-info {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 48px;
  }
  
  .game-info-wrap {
    margin-bottom: 24px;
  }
  
  .info-title {
    font-weight: 700;
    line-height: 48px;
    font-size: 32px;
  }
  
  .info-score-wrap {
    margin-right: 38px
  }
  
  .score-info {
    line-height: 33px;
    font-weight: 700;
    font-size: 22px;
  }
  
  .score-cnt-info {
    margin-top: 6px;
    line-height: 17px;
    font-size: 11px;
    color: rgb(127, 143, 166);
  }
  
  .game-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 48px;
  }
  
  .wrapper-info {
    width: 600px;
    margin-right: 62px;
    flex: 1 1 0%;
  }
  
  .game-image-wrap {
    width: 300px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .games-image {
    width: 100%;
    height: auto;
  }
  
  .tab-line {
    margin-top: 40px;
    width: 100%;
    border-bottom: 1px solid #ebeff8;
    border-top: 1px solid #ebeff8;
    background-color: #fff;
    position: sticky;
    top: 75px;
    z-index: 1000;
  }
  
  .collection-game-tab {
    width: 1000px;
    padding: 0 20px;
    margin: auto;
  }
  
  .collection-game {
    min-width: 160px;
    height: 57px;
    line-height: 55px;
  }
  
  .game-text {
    font-weight: 700;
    margin-right: 4px;
  }
  
  
  .game-main-body {
    width: 960px;
    margin: 0 auto;
    padding: 50px 0;
    border-bottom: 1px solid #ebeff8;
  }
  
  .more-review {
    width: 100%;
    background-color: #e5f3ff;
    color: #3f8eff;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
  }
  
  .wrap {
    max-width: 480px;
    margin: 0 auto;
    /* 화면 가운데로 */
    background-color: #fff;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
  
  }
  
  .reviewform textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .rating .rate_radio {
    position: relative;
    z-index: 20;
    opacity: 0.001;
    width: 60px;
    height: 60px;
    background-color: #fff;
    cursor: pointer;
    vertical-align: top;
    display: none;
  }
  
  .rating .rate_radio+label {
    position: relative;
    display: inline-block;
    margin-left: -4px;
    z-index: 10;
    width: 60px;
    height: 60px;
    background-image: url('./starrate.png');
    background-repeat: no-repeat;
    background-size: 60px 60px;
    cursor: pointer;
    background-color: #f0f0f0;
  }
  
  .rating .rate_radio:checked+label {
    background-color: #ff8;
  }
  
  .warning_msg {
    display: none;
    position: relative;
    text-align: center;
    background: #ffffff;
    line-height: 26px;
    width: 100%;
    color: red;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
  }
  
  .review-button {
    display: block;
    width: 220px;
    height: 50px;
    margin: 0 auto;
    border: none;
    background-color: #1673ea;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
    border-radius: 18px;
  }
  
  .review-list-wrap {
    width: 100%;
    min-height: calc(100vh - 134px);
    margin-right: 30px;
  
  }
  
  .game-review-item-weap {
    margin-top: 16px;
    padding: 16px 20px;
    border-radius: 13px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 4px 5px rgba(3, 24, 39, .06), 0 1px 10px rgba(3, 24, 39, .12), 0 2px 4px rgba(3, 24, 39)
  }
  
  .user-nickname {
    font-weight: 700;
    font-size: 13px;
  }
  
  .review-uplord {
    line-height: 19px;
    color: #95a3b8;
    font-size: 11px;
  }
  
  .review-point {
    margin-top: 12px;
  }
  
  .review-score {
    line-height: 22px;
    margin-left: 2px;
    font-weight: 700;
    color: #3f9dff;
  }
  
  .review-content-wrap {
    margin-top: 4px;
    height: auto;
  }
  
  .review-content {
    font-size: 15px;
  }
  
  .game-detail-main{
    margin-top: 40px;
    width: 100%;
      border-bottom: 1px solid #ebeff8;  
  }
  
  .game-detail-wrap {
    width: 960px;
    margin: 0px auto;
    padding: 50px 0px
  }
  
  .game-feed-title-wrap {
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 33px;
    font-size: 22px;
  }
  
  .game-detail-info-content-wrap {
    height: auto;
    font-weight: 700;
    color: #4a596d;
    font-size: 14px;
  }
  
  .game-detail-info{
    margin-bottom: 20px;
  }
  
  footer {
    padding: 30px;
    font-size: 1.1remp;
    border-top: 1px solid #ebeff8
  }