[Unit]
Description = Ubuntu my server 

[Service]
ExecStart = /home/ubuntu/Assignmnet/GamesSpot/index.js
Restart = always
Group = nogroup
WorkingDirectory = /home/ubuntu/Assignment/GamesSpot

[Install]
WantedBy = multi-user.target

